MONGODB_USERNAME= # The username for your MongoDB database, you can find this in your MongoDB Atlas dashboard under Database Access.
MONGODB_PASSWORD= # The password for your MongoDB database, you can find this in your MongoDB Atlas dashboard under Database Access. Make sure to keep this secure and do not share it publicly.
MONGODB_HOST= # The host URL for your MongoDB database, you can find this in your MongoDB Atlas dashboard under Clusters -> Connect -> Connect your application. It should look something like "yourcluster.mongodb.net".
MONGODB_DB= # The name of the MongoDB database you want to use for this application, you can create a new database in your MongoDB Atlas dashboard under Clusters -> Collections.

BOT_API_SECRET= # A random string used to secure the bot API, you can generate one using a password generator or similar tool.
JWT_SECRET= # A random string used to sign JWT tokens for authentication of frontend application, you can generate one using a password generator or similar tool.

TWITCH_CLIENT_ID= # You can create a Twitch application to get these credentials at https://dev.twitch.tv/console/apps
TWITCH_CLIENT_SECRET= # You can create a Twitch application to get these credentials at https://dev.twitch.tv/console/apps

SITE_URL = # The URL where your frontend application will be hosted, e.g. http://localhost:3000 for local development
API_URL= # The URL where your backend API will be hosted, e.g. http://localhost:5000 for local development