API_URL= # The URL where your backend API will be hosted, e.g. http://localhost:5000 for local development
REDIRECT_API_URL= # The URL where your backend API will be hosted for handling OAuth redirects, e.g. http://localhost:5000 for local development
CLIENT_ID= # The client ID for your Twitch application, you can create a Twitch application to get this credential at https://dev.twitch.tv/console/apps