TWITCH_BOT_USERNAME= # The username of your Twitch bot account, this is the account that will be used to connect to Twitch chat and send messages. You can create a new Twitch account for your bot if you don't want to use your personal account.
TWITCH_CHANNEL_NAME= # The name of the Twitch channel you want your bot to join.

TWITCH_USER_ID= # The user ID of your Twitch bot account.
TWITCH_CLIENT_ID= # You can create a Twitch application to get these credentials at https://dev.twitch.tv/console/apps
TWITCH_CLIENT_SECRET= # You can create a Twitch application to get these credentials at https://dev.twitch.tv/console/apps
ACCESS_TOKEN= # The access token for your Twitch bot account, you can generate one using the Twitch API.    
REFRESH_TOKEN= # The refresh token for your Twitch bot account, you can generate one using the Twitch API. This token is used to refresh the access token when it expires.
TWITCH_OAUTH_TOKEN=oauth:??????????????????????? # The OAuth token for your Twitch bot account, you can generate one using the Twitch API. This token is used to authenticate the bot when connecting to Twitch chat.

API_URL= # The URL where your backend API will be hosted, e.g. http://localhost:5000 for local development
ENVIRONNEMENT= # The environment in which the bot is running, e.g. DEV for development or PROD for production. This can be used to enable or disable certain features or logging depending on the environment.


